<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Paz+" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
    	<div class="content-menu">
    		<div class="row expanded">
    			<div class="small-12 columns">
    				<div class="content-right float-left">

    					<ul class="menu">
    						<li>
                  <div class="content-logo">
                    <a href="/">
                      <img src="/img/logo.png" alt="">
                    </a>
                  </div>
                </li>
    					</ul>
    				</div>
    				<div class="content-left float-right">
    					<% if user_signed_in? %>
                <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                    <a href="#">Diego Achury</a>
                    <ul class="menu vertical">
                      <li><%= link_to "Hacia la paz", categories_path,  class: "button paz"%></li>
                      <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
                      <% if current_user.perfil = "admin" %>
                        <li><%= link_to 'Nueva categoria', new_category_path %></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
                <% else %>
                <ul class="menu">
                  <li><%= link_to "Hacia la paz", categories_path,  class: "button paz"%></li>
                  <li><%= link_to 'Iniciar', new_user_session_path %></li>
                  <li><%= link_to 'Registrar', new_user_registration_path %></li>
                </ul>
                <% end %>
    				</div>
    			</div>
    		</div>
    	</div>
    </header>

    <div class="content">
    	<div class="row expanded">
    		<div class="small-4 columns">
    			<div class="dash-perfil">
    				<p class="title"><b>Perfil de progreso</b></p>
    				<div class="content-img">
    					<img src="/img/person.jpg" alt="">
    				</div>

            <div class="content-perfil">
    					<p><b>tu avance</b></p>
    					<p> Aqui tu barra de medida que indica que tanto has avanzado</p>
    				</div>
    				<div class="content-bar">
    					<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
      					<div class="progress-meter" style="width: 25%"></div>
    					</div>
    				</div>
    			</div>
          <div class="dash-perfil">

            <div class="content-perfil">
    					<p><b>Tips</b></p>
    					<p> <a href="">sobre los tratados?</a></p>
              <p> <a href="">sobre la tolerancia</a></p>
              <p> <a href="">que es el respeto</a></p>
    				</div>
    			</div>
    		</div>
    		<div class="small-8 columns">
    			<div class="dash">
            <%= yield %>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>
