<div class="content-login">
<div class="row">
  <div class="small-12 columns">
      <h4><b>Registarse</b></h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, "Correo electronico" %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, "Contraseña" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmar contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Registrar" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
